<% if logged_in? %>
  <div class="well row main animated fadeIn">
    <aside class="col-md-4 animated bounceInUp">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="well col-md-8 animated fadeIn">
      <h3 id="popbox">Pop Box <%= render 'shared/now_playing' %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron animated bounceInUp">
    <h1 id="coolify" class="animated zoomInDown">POPPIN</h1>

    <h2>
      Pop your thoughts. Crunch your friends. Add salt to taste.
    </h2>

    <%= link_to "Let's get Poppin!", login_path, class: "btn btn-lg btn-primary" %>
    <h2 id="n00bz">
      New to Poppin? Check out the <%= link_to "Help", help_path %> page to get started!
    </h2>
  </div>

  <!-- <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %> -->
<% end %>