<% provide(:title, 'Sign up') %>
<div class="well animated fadeIn">
  <h1 id="coolify-title" class="animated zoomInDown">Sign up</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name, class: 'animated bounce' %>
        <%= f.text_field :name, class: 'form-control animated bounceInLeft' %>
  
        <%= f.label :email, class: 'animated bounce' %>
        <%= f.email_field :email, class: 'form-control animated bounceInRight' %>
        <p>Connect your email with <a href="https://en.gravatar.com/">Gravatar</a> to set up your profile picture.</p>
  
        <%= f.label :password, class: 'animated bounce' %>
        <%= f.password_field :password, class: 'form-control animated bounceInLeft' %>
  
        <%= f.label :password_confirmation, class: 'animated bounce' "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control animated bounceInRight' %>
  
        <%= f.submit "Let's get poppin!", class: "btn btn-primary animated bounceInUp" %>
      <% end %>
    </div>
  </div>
</div>